.register-container{
    height: 620px;
    width:550px;
    background-color: rgba(255,255,255,0.5);
    backdrop-filter: blur(5px);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
}

.register-container > form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.register-container > form > input{
    height: 45px;
    width: 300px;
    border-radius: 25px;
    outline: none;
    background: transparent;
    padding: 10px;
    border: 1px solid rgb(255, 255, 255);
}

.register-container > form > input::placeholder{
   color: #747272;
}

.register-container > form > input[type="submit"]{
    background-color: #47a1e7;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: all .2s ease-in-out;
    border: none;
}

.register-container > form > input[type="submit"]:hover{
    background-color: #2a7ebe;
}

.register-container .gender{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
    padding:0 5px ;
}
.register-container .gender .field{
    display: flex;
    align-items: center;
    gap: 5px;
}

.register-container > a{
    text-decoration: none;
    color: #111;
    font-size: 12px;
    /* align-self: flex-end;
    margin-right: 100px; */
}

.register-container > a:hover{
    text-decoration: underline;
}


@media only screen and (max-width: 600px) {
    .register-container{
        height: 570px;
        width:350px;
    }   
    .register-container > form > input{
        height: 40px;
        width: 250px;
    }
}