.no-chat-selected-container{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.no-chat-selected-container > img{
    width: 50%;
}

.no-chat-selected-container > h2{
    color: rgb(143, 144, 145);
    margin-top: -50px;
}